body {
    text-align: center;
    background-color: rgb(175, 175, 54);

}
h1 {
    color: #073b07;
}
h2 {
    font-size: 30px;
}
p { font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #045204;
}
img {
    width: 300px;
}
.paragrafo-1 {
    font-size: 30px;
    color: #073b07;
}
#paragrafo-2 {
    font-size: 20px;
}
.margem-superior {
    padding-top: 100px;
    padding-bottom: 100px;
}